<section class="lab-set">

    {{#each labs}}

        <div class="lab-tile">
            <img src="{{this.fields.image.fields.file.url}}" alt=""/>
            <h2>{{this.fields.title}}</h2>
            <p>{{this.fields.description}}</p>
            <a href="{{this.fields.url}}" target="_blank">{{this.fields.linkText}}</a>
        </div>

    {{/each}}

</section>